.card {
  margin-bottom: 20px;
  width: '18rem';
  min-height: 650px;
  border: 1px solid gray;
}

.image {
  max-width: 100%;
  border-radius: 5px;
  min-height: 440px;
} 

.button {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

.header {
  max-height: 20%;
}

.rating {
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.imdb {
  background-color: gold;
  padding: 2px 4px;
  border-radius: 5px;
}

.imdb a {
  color: black;
}

.imdb a:hover {
  color: black;
}

.details {
  /* max-height: 100px; */
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.info {
  padding-top: 10px;
  height: 125px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}

.buttons {
  /* height: 20; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}