.card {
  margin-bottom: 20px;
  width: '18rem'
}

.image {
  max-width: 95%;
  border-radius: 5px;
  /* height: 300px; */
} 

.button {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

.header {
  max-height: 20%;
}