.card {
  margin-bottom: 20px;
  width: '18rem'
}

.image {
  max-width: 95%;
  border-radius: 5px;
  /* height: 300px; */
} 

.button {
  margin: 0 auto;
  width: 70%;
  margin-bottom: 10px;
}

.header {
  max-height: 20%;
}

.rating {
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.imdb {
  background-color: gold;
  padding: 2px 4px;
  border-radius: 5px;
}

.imdb a {
  color: black;
}

.imdb a:hover {
  color: black;
}