.movieDiv {
  margin-top: 50px;
}

h1 {
  color: red
}

header {
  padding: 10px;
}

header Link {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}

form button {
  width: 15%;
  margin: 0 auto;
  margin-top: 20px;
}