.movieDiv {
  margin-top: 50px;
  background-color: #eee;
  /* height: 100%;
  width: 100vw; */
}

h1 {
  color: red
}

header {
  padding: 10px;
}

Link {
  margin-top: 40px;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px auto;
  padding: 10px;
}

form button {
  width: 90px;
  margin: 0 auto;
  margin-top: 20px;
}